@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@300;400;500;600;700&display=swap");

:root {
	/* Core variables */
	--font-sans: "Geist Mono", monospace;
}

.dark {
	color-scheme: dark;
}

body {
	font-family: var(--font-sans);
	height: 100vh;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
